@infosum:registry=https://gitlab.infosum.io/api/v4/packages/npm/
//gitlab.infosum.io/api/v4/packages/npm/:_authToken=${INFOSUM_NPM_TOKEN}
//gitlab.infosum.io/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${INFOSUM_NPM_TOKEN}
